@media all and (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .rhero-btn {
    display: block;
    margin: 2rem 0;
    padding: 1rem;
  }
  .rfooter-wrapper {
    display: block;
  }
  .rfooter-wrapper-items {
    margin: 1rem 0;
  }
  .rsign-wrapper {
    width: 80%;
  }
  .rhome-wrapper {
    display: block;
  }
  .rquizsets-list-wrapper {
    width: 100%;
  }
  .rquizsets-list {
    margin-top: 2rem;
  }
  .rquestion-answers-item {
    margin: 1rem;
  }
  .rloader {
    width: 3rem;
    height: 3rem;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .rhero-btn {
    display: block;
    margin: 2rem 0;
    padding: 1rem;
  }
  .rfooter-wrapper {
    display: block;
  }
  .rfooter-wrapper-items {
    margin: 1rem 0;
  }
  .rsign-wrapper {
    width: 80%;
  }
  .rhome-wrapper {
    display: block;
  }
  .rquizsets-list-wrapper {
    width: 100%;
  }
  .rquizsets-list {
    margin-top: 2rem;
  }
  .rquestion-answers-item {
    margin: 1rem;
  }
  .rloader {
    width: 3rem;
    height: 3rem;
  }
}
@media all and (max-width: 576px) {
  html {
    font-size: 10px;
  }
  .rhero-btn {
    display: block;
    margin: 2rem 0;
    padding: 1rem;
  }
  .rfooter-wrapper {
    display: block;
  }
  .rfooter-wrapper-items {
    margin: 1rem 0;
  }
  .rsign-wrapper {
    width: 80%;
  }
  .rhome-wrapper {
    display: block;
  }
  .rquizsets-list-wrapper {
    width: 100%;
  }
  .rquizsets-list {
    margin-top: 2rem;
  }
  .rquestion-answers-item {
    margin: 1rem;
  }
  .rloader {
    width: 3rem;
    height: 3rem;
  }
}
